[submodule "campaigns"]
  path = campaigns
  url = https://github.com/AlexSzeto/pf2e-drakonis-data.git

[submodule "external-resources/pf2e"]
	path = external-resources/pf2e
	url = https://github.com/foundryvtt/pf2e.git
[submodule "static/js/ace-builds"]
	path = external-resources/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
