/*****************************************************/
/* MODALS */
/*****************************************************/

.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal {
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
  
    overflow-y: hidden;
  }

  .image-selector, .card-selector {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    row-gap: 1em;
    column-gap: 0.25em;
  
    width: 100%;
    height: 100%;
  
    overflow-x: hidden;
    overflow-y: scroll;  
  }

  .image-selector {
    .image-container {
      display: flex;
      flex-direction: column;
      
      .description {
        text-align: center;
      }

      img {
        width: 100%;
      }  
    }
  }

  .card-selector {
    grid-template-columns: repeat(auto-fill, 24em);
    grid-template-rows: repeat(20, min-content);

    .card-container {
      position: relative;
      font-size: 0.4em;
      color: black;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 1.25em;
      border-radius: 4px;
      height: min-content;

      &.selected {
        background-color: #351a1a;
        color: white;
      }
    }
  }

  .file-selector {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    font-size: 1.5em;

    a {
      display: block;
    }
  }
}

/*****************************************************/
/* MARKDOWN DOCUMENT */
/*****************************************************/

.markdown-document {
  display: flex;
  flex-direction: column;

  .text-container {
    position: relative;
    width: 50em;
    min-height: 25em;  
    border-radius: 4px;  
  }

  .editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .preview {
    padding: 0.5em;
    max-height: 40em;
    overflow-x: hidden;
    overflow-y: scroll;

    font-size: 16px;
    line-height: 1.5em;

    h1, h2, h3, h4, h5, h6 {
      font-family: 'FF Good Pro Cond', sans-serif;
      color: #472c2c;
      font-weight: bold;
      margin: 0.5em 0;
      padding: 0;
    }

    p {
      margin: 0.5em 0;
      padding: 0;
    }

    ul, ol {
      margin: 0.5em;
      padding: 0 0.75em;
    }

    a {
      font-weight: normal;
    }

    blockquote {
      font-family: 'Crimson Pro', serif;
      margin: 0.5em 0;
      padding: 0.75em 2em;
      background-color: #f5e1bf;
      color: #472c2c;
      border: 2px solid rgba(71, 44, 44, 0.5);
      border-radius: 4px;
    }

    blockquote p::before {
      font-size: 20px;
      font-weight: bold;
      content: open-quote;
      padding-right: 4px;
    }

    blockquote p::after {
      font-size: 20px;
      font-weight: bold;
      content: close-quote;
      padding-left: 4px;
    }

    :not(pre) code {
      font-family: 'FF Good Pro Cond', sans-serif;
      background-color: #472c2c;
      color: white;
      padding: 2px 6px;
      border-radius: 4px;
    }

    pre {
      margin: 1.5em 0;
      padding: 0.75em 2em;
      border-top: 2px solid #472c2c;
      border-bottom: 2px solid #472c2c;

      code {
        font-family: 'Crimson Pro', serif;
      }
    }

    thead {
      background-color: #472c2c;
      color: white;
      
      th {
        font-weight: normal;
      }
    }

    tbody tr:nth-child(odd) {
      background-color: #f5e6cd;
    }

    tbody tr:nth-child(even) {
      background-color: #f4eae2;
    }

    th, td {
      padding: 0.25em 0.5em;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }
  }
}

/*****************************************************/
/* CONTENT SECTION */
/*****************************************************/

.content-section-with-actions {
  display: grid;

  grid-template-areas:
    "title actions"
    "content content";
  
  row-gap: 0.5em;
  column-gap: 0;
  padding: 0.5em;

  > .title {
    grid-area: title;
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
  }

  > .actions {
    grid-area: actions;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 0.25em;

    button.square {
      margin: 0;
    }
  }

  > .content {
    grid-area: content;
  } 

  label {
    font-size: 1em;
  }
}

.labeled-item {
  display: flex;
  flex-direction: column;
  gap: 0;
}

/*****************************************************/
/* FRAMED IMAGE */
/*****************************************************/

/* .insert-frame {
  border: 1px solid #472c2c;
} */

.framed-image {
  border-radius: 6px;
  
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 6px;
    
    max-width: 100%;
    max-height: 100%;
  }
}

/*****************************************************/
/* CROSSFADE IMAGE */
/*****************************************************/


.crossfade-image {
  position: absolute;

  transition: opacity 1s;
  opacity: 0;

  &.shown {
    opacity: 1;
  }

  &.cover {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale the image to cover the viewport */
  }

  &:not(.cover) {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Scale the image to fit the viewport */
  }
}