h3 {
  padding-bottom: 0;
}

.editor-container {
  display: flex;
  flex-direction: row;
}

.canvas-container {
  padding: 2em;
  canvas {
    border: 1px solid black;
    background-color: #f0f0f0;
  }
}

#ui {
  padding: 2em;
  width: calc(100vw - 1400px);
  max-width: calc(100vw - 1400px);
  min-height: 600px;
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: auto;
}

.map-info, .tag-list, .tile-list {
  margin-bottom: 1em;
}

.tag-list {
  .tag.selected {
    border: 2px solid #000;
    border-radius: 4px;
    padding: 0.25em;
  }
}

.tile-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tile {
    margin: 0.5em;

    display: flex;
    flex-direction: column;

    &.selected {
      border: 2px solid #000;
      border-radius: 4px;
      padding: 0.5em;
    }

    .label {
      width: 6em;
      text-align: left;
      margin-bottom: 0.1em;

      .warn {
        color: orange;
      }
      
      .full {
        color: red;
      }
    }

    .image-container {
      width: 6em;
      height: 6em;

      img {
        transform: scale(0.25);
        transform-origin: top left;
        max-width: 24em;
        max-height: 24em;
      }
    }
  }
}

.parts-list {
  li {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    margin-bottom: 4px;

    .image-container {
      width: 40px;
      height: 40px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}