<!DOCTYPE html>
<html>
<head>
  <title>Creature Builder</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='css/pf2e.css'>
  <style>
    body {
      font-size: 18px;
    }

    .label-text {
      min-width: 6em;
      margin-right: 0.5em;
    }

    .item-list {
      position: relative;
      left: 6.5em;
    }

    .column {
      display: flex;
    }

    .two-column {
      display: grid;
      grid-template-columns: 15em 15em;
    }

    #card-preview {
      font-family: 'Courier New', Courier, monospace;
      font-size: 12px;
      margin-left: 0.5em;
      width: 30em;
      height: 40em;
    }
  </style>
  <script type="importmap">
    {
        "imports": {
            "preact": "https://esm.sh/preact@10.19.2",
            "preact/": "https://esm.sh/preact@10.19.2/",
            "htm/preact": "https://esm.sh/htm@3.1.1/preact?external=preact"
        }
    }
  </script>    
  <script type="module" src="js/creature-builder.js"></script>
</head>
<body>
  <!-- Your content here -->
</body>
</html>