<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Map Editor</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pf2e.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/map-editor.css') }}"
    />
  </head>
  <body>
    <div class="canvas-container">
      <canvas id="canvas" width="1200" height="600" tabindex="0"></canvas>
    </div>
    <div id="ui"></div>
    <script type="importmap">
      {
        "imports": {
          "preact": "https://esm.sh/preact@10.19.2",
          "preact/": "https://esm.sh/preact@10.19.2/",
          "htm/preact": "https://esm.sh/htm@3.1.1/preact?external=preact"
        }
      }
    </script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/map-editor.js') }}"
    ></script>
  </body>
</html>
