<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Map Editor</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pf2e.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/map-editor.css') }}"
    />
  </head>
  <body>
    <div class="ui">
      <select id="tileSelector"></select>
      <button id="loadTile">Load</button>
    </div>
    <div class="canvas-container">
      <canvas id="canvas" width="1200" height="600" tabindex="0"></canvas>
    </div>
    <script
      type="module"
      src="{{ url_for('static', filename='js/map-editor.js') }}"
    ></script>
  </body>
</html>
